
.swiper-container{
    width: 100%;
    margin: 0 auto;
}

.slid{
    position: relative;
    .image{
        width: 100%;
    }
}
#title{
    position: absolute;
    margin-top: 21rem;
    margin-left: 2.5rem;
    color: #76D7C4;
}
.swiper-pagination > .swiper-pagination-bullet{
    background-color: #75FF33;
}



