
.swiper-container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 97%;
    margin: 0 auto;
    height: 350px;
    //background-color: orangered;

    .slide-item-card{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: .2rem;
        height: 350px;
        margin-bottom: 1rem;
        transition: 0.3s;
        
        &:hover{
            scale: 1.03;
            cursor: pointer;
        }
        
        .image-card{
            height: 320px;
            width: 213px;
            ///border: 2px solid #48C9B0;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.65);
            border-radius: 10px;
            
            &:hover{
                backdrop-filter: blur(2px);
                -webkit-filter: blur(2px);
                opacity: .9;
            }
        }
        
        #iconPlay{
            position: absolute;
            margin: 0 auto;
            font-size: 50px;
            color: #48C9B0;
            opacity: 0.3;
            transition:  300ms;
            &:hover{
                opacity: 1;
                color: #75FF33;
                scale: 1.3;  
            }
        }
    }
}


.content-title-btns{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    
    #categ{
        display: flex;
        align-items: center;
        margin-left: 2rem;
        color: #76D7C4;
        
        #categMas{
            font-size: 28px;
            text-decoration: none;
            color: #76D7C4;
            margin-left: 15px;
            cursor: pointer;

            &:hover{
                color: #75FF33;
            }
        }
    }
    .next-prev{
        margin: 0.5rem 1.5rem;
    
        button{
            margin-left: 0.3rem;
            border: none;
            background-color: transparent;
            cursor: pointer;
        }
        #arrows{
            transition: 200ms;
            &:hover{
                color: #75FF33;
            }
        }
    }   

}

.slide-item-card:hover:not(:hover > h3) img {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.swiper-pagination > .swiper-pagination-bullet{
    background-color: #75FF33;
}



